<div class="container" style="margin: 2% auto;">
  <h5 style="margin-bottom: 3%;"><strong style="background-color: #f5f5f5">会員情報編集</strong></h1>
    <%= form_with model: @customer, url:'/public/customers', local:true do |f| %>
      <div class="row customer-info-form">
        <h4 class="col-md-3">氏名</h4>
        <%= f.text_field :last_name, class:"col-md-3 last-name-form" %>
        <%= f.text_field :first_name, class:"col-md-3" %>
      </div>
      <div class="row customer-info-form">
        <h4 class="col-md-3">フリガナ</h4>
        <%= f.text_field :last_name_kana, class:"col-md-3 last-name-form" %>
        <%= f.text_field :first_name_kana, class:"col-md-3" %>
      </div>
      <div class="row customer-info-form">
        <h4 class="col-md-3">郵便番号</h4>
        <%= f.text_field :postal_code, class:"col-md-3" %>
      </div>
      <div class="row customer-info-form">
        <h4 class="col-md-3">住所</h4>
        <%= f.text_field :address, class:"col-md-9" %>
      </div>
      <div class="row customer-info-form">
        <h4 class="col-md-3">電話番号</h4>
        <%= f.text_field :phone_number, class:"col-md-3" %>
      </div>
      <div class="row customer-info-form">
        <h4 class="col-md-3">メールアドレス</h4>
        <%= f.text_field :email, class:"col-md-3" %>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <%= f.submit '編集内容を保存', class:"btn btn-success col-md-4" %>
        <div class="col-md-2"></div>
        <%= link_to '退会する', public_customers_unsubscribe_path, class: "btn btn-danger col-md-2" %>
      </div>
    <% end %>
</div>
