<div class="container" style="margin: 2% auto;">
  <h5 style="margin-bottom: 3%;"><strong style="background-color: #f5f5f5">マイページ</strong></h5>
  <div class="row">
    <div class="customer-info-links">
      <%= link_to edit_public_customers_path, class: "btn mr-3 btn-mod btn-border btn-medium btn-round faa-parent animated-hover" do %>
        <i class="fas fa-user-edit fa-fw faa-horizontal fa-2x"></i> Profile Edit
      <% end %>
    </div>
    <div class="customer-info-links">
      <%= link_to public_addresses_path, class: "btn mr-3 btn-mod btn-border btn-medium btn-round faa-parent animated-hover" do %>
        <i class="fas fa-truck fa-fw faa-horizontal fa-2x"></i> Address
      <% end %>
    </div>
    <div class="customer-info-links">
      <%= link_to public_orders_path, class: "btn btn-mod btn-border btn-medium btn-round faa-parent animated-hover" do %>
        <i class="fas fa-history fa-fw faa-horizontal fa-2x"></i> History
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <table border="2" class="table" style="width: 70%;">
    <tbody>
      <tr>
        <td class="customer-info col-md-3">氏名</td>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td class="customer-info col-md-3">カナ</td>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td class="customer-info col-md-3">郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="customer-info col-md-3">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="customer-info col-md-3">電話番号</td>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <td class="customer-info col-md-3">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>