<div class='container px-5 px-sm-0'>
  <h4>会員一覧</h4>
  <div class='row'>
    <div class='col-md-7 mx-auto'>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr id="customer_<%= customer.id %>">
              <td><%= customer.id %></td>
              <td><%= link_to "#{customer.last_name} #{customer.first_name}", admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
                <% if customer.customer_status %>
              <td>無効</td>
                <% else %>
              <td>有効</td>
                <% end %>
            </tr>
          <% end %>
          <%= paginate @customers %>
        </tbody>
      </table>
    </div>
  </div>
</div>