<div class="container" style="margin: 2% auto;">
  <h5 style="margin-bottom: 3%;"><strong style="background-color: #f5f5f5">注文履歴一覧</strong></h5>
  <table class="table" style="background-color: #f5f5f5">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="col-md-3"><%= link_to (l order.created_at), admin_order_path(order.id) %></td>
          <td class="col-md-3"><%= order.name %></td>
          <td class="col-md-3"><%= order.order_items.pluck(:amount).sum %></td>
          <td class="col-md-3"><%= order.order_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="display: flex; justify-content: center;"><%= paginate @orders %></div>
</div>