<div class="container" style="margin: 2% auto;">
  <h5 style="margin: 5% auto;"><strong style="background-color: #f5f5f5">配送先編集</strong></h5>
    <%= form_with model: @address, url:public_address_path, method: :patch, local:true do |f| %>
      <div class="row address-info-form">
        <h6 class="col-md-4">郵便番号(ハイフンなし)</h6>
        <%= f.text_field :postal_code, class:"col-md-3" %>
      </div>
      <div class="row address-info-form">
        <h6 class="col-md-4">住所</h6>
        <%= f.text_field :address, class:"col-md-8" %>
      </div>
      <div class="row address-info-form">
        <h6 class="col-md-4">宛名</h6>
        <%= f.text_field :name, class:"col-md-3" %>
      </div>
      <div class="row address-info-form" style="margin-top: 50px;">
        <div class="col-md-8"></div>
        <%= button_tag :type => "submit", :class =>"btn btn-mod btn-border btn-medium btn-round faa-parent animated-hover mb-1" do %>
          <i class="fa fa-save fa-fw faa-horizontal fa-2x" aria-hidden="true"></i>Edit Save
        <% end %>
      </div>
    <% end %>
</div>