<div class="container" style="margin: 2% auto;">
  <h5 style="margin-bottom: 3%;"><strong style="background-color: #f5f5f5">配送先登録/一覧</strong></h1>
  <table border="2" class="table">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td class="col-md-2"><%= address.postal_code %></td>
          <td class="col-md-4"><%= address.address %></td>
          <td class="col-md-2"><%= address.name %></td>
          <td style="display: flex; justify-content: space-around;">
            <%= link_to '編集する', edit_public_address_path(address.id), class: "btn btn-success" %>
            <%= link_to '削除する', public_address_path(address.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container" style="margin: 2% auto;">
  <h5 style="margin: 5% auto;"><strong style="background-color: #f5f5f5">新規配送先登録</strong></h1>
    <%= form_with model: @address, url:'/public/addresses', local:true do |f| %>
      <div class="row address-info-form">
        <h6 class="col-md-3">郵便番号(ハイフンなし)</h4>
        <%= f.text_field :postal_code, class:"col-md-3" %>
      </div>
      <div class="row address-info-form">
        <h6 class="col-md-3">住所</h4>
        <%= f.text_field :address, class:"col-md-9" %>
      </div>
      <div class="row address-info-form">
        <h6 class="col-md-3">宛名</h4>
        <%= f.text_field :name, class:"col-md-3" %>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-8"></div>
        <%= f.submit '新規登録', class:"btn btn-success col-md-4" %>
      </div>
    <% end %>
</div>