<ul class="slider">
  <li><a href="#">【夏ギフト】あの人にも。長野の夏、届けます。</a></li>
  <li><a href="#">【7/11(木)販売】「山根フルーツ農園」とのスペシャルコラボ商品販売開始。</a></li>
  <li><a href="#">【大人気商品】バターサンド詰め合わせ。オンライン限定商品も。</a></li>
</ul>
        <div id="main-visual" class="d-flex align-items-center">
          <ul>
            <li><a href=""><img src="cake-4910417_1920.jpg" alt="" width="640" height="300" /></a></li>
            <li><a href=""><img src="cupcakes-1283821_1920.jpg" alt="" width="640" height="300" /></a></li>
            <li><a href=""><img src="pexels-isabella-mendes-940842.jpg" alt="" width="640" height="300" /></a></li>
          </ul>
          <p class="main-visual-text">
            <font size="30px">ようこそ、ながのCAKEへ！</font><br/>
            このサイトは、ケーキ販売のECサイトになります。<br/>
            会員でない方も商品の閲覧はできますが、<br/>
            購入には会員登録が必要になります。
          </p>
        </div>
<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col-md-3">
        <%= render 'public/items/genre', genres: @genres %>
      </div>
      <div class="col-md-9">

        <div class="mx-auto mt-5">
          <h2>新着商品</h2>
          <div class="row">
            <% @items.each do |item| %>
            <div class="col-md-3">
              <%= link_to public_item_path(item) do %>
                <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "", class: "img-fluid float1" %>
              <% end %>
              <p><%= link_to item.name, public_item_path(item) %></p>
              <p>¥<%= item.price %></p>
            </div>
            <% end %>
          </div>
        </div>
      <p class="text-right"><%= link_to "全ての商品を見る>", public_items_path %></p>
    </div>
  </div>
</div>
