<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col-md-3">
        <%= render 'public/items/genre', genres: @genres %>
      </div>
      <div class="col-md-9">
        <div class="main-visual d-flex align-items-center">
          <p class="main-visual-text">
            <font size="30px">ようこそ、ながのCAKEへ！</font><br/>
            このサイトは、ケーキ販売のECサイトになります。<br/>
            会員でない方も商品の閲覧はできますが、<br/>
            購入には会員登録が必要になります。
          </p>
        </div>
        <div class="mx-auto mt-5">
          <h2>新着商品</h2>
          <div class="row">
            <% @items.each do |item| %>
            <div class="col-md-3">
              <%= link_to public_item_path(item) do %>
                <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "", class: "img-fluid" %>
              <% end %>
              <p><%= link_to item.name, public_item_path(item) %></p>
              <p>¥<%= item.price %></p>
            </div>
            <% end %>
          </div>
        </div>
      <p class="text-right"><%= link_to "全ての商品を見る>", public_items_path %></p>
    </div>
  </div>
</div>
