<div class="container">
  <div class="col-11 mx-auto mt-5 mb-5">
    <h1>ショッピングカート</h1>
    <% if @cart_items.blank? %>
      <p>カート内に商品はありません。</p>
      <p><%= link_to "商品一覧ページへ行く", public_items_path %></p>
    <% else %>
      <p class = "text-right"><%= link_to "カートを空にする", public_cart_items_path, method: :delete %></p>
      <table class="table border">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <div>
                  <%= attachment_image_tag @cart_item, :image, size: "50x50", fallback: "" %><span><%= cart_item.item.name %></span>
                </div>
              </td>
              <td><%= cart_item.item.price %></td>
              <td>
                <%= form_with model: cart_item, url: public_cart_item_path(cart_item), method: :patch, local: true do |f| %>
                  <%= f.select :amount, (1..20), include_blank: "個数選択" %>
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td>小計:<%= cart_item.item.price * cart_item.amount %></td>
              <td>
                <%= link_to "削除する", public_cart_item_path(cart_item), method: :delete, data: {confirm: '本当に削除しますか？'}, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="check row">
        <div class="add_order mt-4 col-4 text-center"><%= link_to "買い物を続ける", public_items_path, class: "btn btn-primary" %></div>
        <div class="col-4"></div>
        <div class="pull-right col-4 border mt-4 row align-items-center">
          <div class="total_price col-6 border-right">合計金額</div>
          <div class="total_price col-6"><%= @total %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="order_finish text-center">
    <%= link_to "情報入力へ進む", public_orders_path, class: "btn btn-success" %>
  </div>
</div>
