<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <h2>ログイン</h2>
      <p>会員の方はこちらからログイン</p>
      <table>
      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :pencryptedassword %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      <% end %>
      </table>
      <p class="mt-5">会員登録がお済みでない方</p>
      <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
    </div>
  </div>
</div>