<div class="container mt-5 mb-5">
  <div class="row">
    <h5 class="p-2 bg-light">注文情報入力</h5>
    <div class="col-11">
      <%= form_with model:@order, url: public_orders_confirm_path ,method: :get,local:true do |f| %>
      <div>支払方法</div>
        <div class="form-group col-10">
          <div>
            <%= f.radio_button :address_select, "my_address" %>
            <%= f.label :address_select, "ご自身の住所" %>
            <div class="col-10"><%= "〒#{@order.customer.postal_code} #{@order.customer.address}" %></div>
            <div class="col-10"><%= "#{@order.customer.last_name}#{@order.customer.first_name}"%></div>
          </div>
          <div>
            <%= f.radio_button :address_select, "delivery_address" %>
            <%= f.label :address_select, "登録済住所から選択" %>
            <div class="col-10">
              <%= f.collection_select(:address_id, current_customer.addresses , :id, :address) %>
            </div>
          </div>
          <div>
            <%= f.radio_button :address_select, "new_address" %>
            <%= f.label :address_select, "新規住所" %>
            <!--<#%= f.fields_for :addresses do |address| %>-->
              <div class="row address-info-form">
                <p class="col-3">郵便番号(ハイフンなし)</p>
                <%= f.text_field :postal_code, class:"col-2" %>
              </div>
              <div class="row address-info-form">
                <p class="col-3">住所</p>
                <%= f.text_field :address, class:"col-4" %>
              </div>
              <div class="row address-info-form">
                <p class="col-3">宛名</p>
                <%= f.text_field :name, class:"col-2" %>
              </div>
            <!--<#% end %>-->
          </div>
        </div>
      <div>お届け先</div>
        <div class="form-group col-10">
          <div><%= f.radio_button :payment_method, 0 %><%= f.label "クレジットカード" %></div>
          <div><%= f.radio_button :payment_method, 1 %><%= f.label "銀行振込" %></div>
        </div>
      <%= f.submit "確認画面へ進む", class: 'btn btn-success m-2' %>
      <% end %>
    </div>
  </div>
</div>