<div class="container mt-5 mb-5">
  <div class="row">
    <h3 class="p-2 bg-light">注文履歴詳細</h3>
    <div class="col-11 d-flex pl-0">
      <div class="col-6">
        <h4>注文情報</h4>
        <table border="2" class="container table">
          <tbody>
            <tr>
              <td class="align-middle bg-light">注文日</td>
              <td><%= @order.created_at.to_s(:datetime_jp) %></td>
            </tr>
            <tr>
              <td class="align-middle bg-light">配送先</td>
              <td>
                <%= "〒#{@order.postal_code}" %></br>
                <%= @order.address %></br>
                <%= @order.name %></br>
              </td>
            </tr>
            <tr>
              <td class="align-middle bg-light">支払方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <td class="align-middle bg-light">ステータス</td>
              <td><%= @order.order_status %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <h4>請求情報</h4>
        <table border="2" class="container table">
          <tbody>
            <tr>
              <td class="customer-info col-6">商品合計</td>
              <td><%= (@order.price - 800).to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="customer-info">配送料</td>
              <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
              <td class="customer-info font-weight-bold">ご請求額</td>
              <td><%= (@order.price).to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class= "col-8">
      <h4>注文内容</h4>
      <table border="2" class="table">
        <thead>
          <tr class="bg-light">
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= (order_item.item.add_tax).to_s(:delimited) %></td>
              <td><%= order_item.amount %></td>
              <td><%= (order_item.amount * order_item.item.add_tax).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to public_orders_path, class: "btn btn-mod btn-border btn-medium btn-round faa-parent animated-hover mb-1" do %>
        <i class="fas fa-undo-alt fa-fw faa-horizontal fa-2x" aria-hidden="true"></i>Back
      <% end %>
    </div>
  </div>
</div>