<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-3">
      <%= render 'homes/genre' %>
    </div>
    <div class="col-9">
      <div class="title-text row align-text-bottom">
        <h2>商品一覧<span class="small">(全×件)</span></h2>
        <p class="text-danger">
          ※ジャンル検索の場合、「商品一覧」の部分は「（ジャンル名）一覧」に変更する<br/><例>「ケーキ一覧」
        </p>
      </div>
      <div class="row overflow-wrap mt-3 mb-5">
        <% @items.each do |item| %>
          <div class="col-3 mt-4">
            <%= attachment_image_tag item, :image, :fill, 50, 50, fallback: "aa.jpg" %>
            <div class="image-text">
              <p class="titel"><%= item.name %></p>
              <p><strong>¥<%= item.price %></strong></p>
            </div>
          </div>
        <% end %>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>