<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-3">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class="col-9">
      <div class="main row">
        <div class="image col-4">
          <%= attachment_image_tag @item, :image, :fill, 200, 200, fallback: "" %>
        </div>
        <div class="about col-8">
          <h1><%= @item.name %></h1>
          <p><%= @item.introduction %></p>
          <div class="mt-5">¥<%= "#{@item.add_tax}(税込)" %></div>
          <% if customer_signed_in? %>
            <div class="row mt-5">
              <%= form_with model: @cart_items, url: public_cart_items_path, local: true do |f| %>
                <%= f.select :amount,(1..20), include_blank: "個数選択" %>個
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= button_tag :type => "submit", :class =>"btn btn-mod btn-border btn-medium btn-round faa-parent animated-hover mb-1" do %>
                  <i class="fa fa-arrow-right fa-fw faa-horizontal fa-2x" aria-hidden="true"></i>Cart
                <% end %>
              <% end %>
          <% else %>
              <div class="row mt-5 ml-1">
                <%= link_to "ログイン", new_customer_session_path %>してから購入画面にお進みください。
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
